body {
    background: url('./assets/Images/Home.png') top right no-repeat fixed;
    background-size: cover;
    margin: 0;
}

h2 {
    color: #E19247;
}


.container {
    margin-top: 50px;
}

.bienvenida {
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.card-text {
    text-align: center;
    margin-bottom: 15px;
}

/* Para la barra lateral */
.sidebar {
    background-color: #FFF;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 100vh;
    /* Altura completa del viewport */
    position: fixed;
    /* Barra lateral fija */
    top: 0;
    /* Comienza en la parte superior */
    left: 0;
    /* Comienza en el lado izquierdo */
    width: 250px;
    /* Ancho de la barra lateral */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;

}

.sidebar.active {
    left: 0;
    /* Muestra el sidebar al establecer el margen izquierdo en 0 */
}

.btn-menu {
    position: fixed;
    background-color: #E19247;
    top: 20px;
    left: 20px;
    border: none;
    cursor: pointer;
    z-index: 9999;
}

.menu-bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 6px;
    border-radius: 10px;
}

/* Ajustes de las barras del menú */
.menu-bar:last-child {
    margin-bottom: 0;
}


.sidebar-btn {
    margin-top: 20px;
    margin-right: 30px;
}

.sidebar-logo img {
    max-width: 90%;
    height: auto;
    margin-bottom: 90px;
}

.row {
    justify-content: center;
}

.ingresar-btn {
    text-align: center;
    display: flex;
    justify-content: center;
    /* Alinea horizontalmente el contenido */
}

.card-title {
    text-align: center;
    margin-bottom: 15px;
}

.btn-ingresar {
    background-color: #22A030;
    color: #fff;
}

.btn-salir {
    background-color: #E19247;
    color: #fff;
    width: 150px;
    /* Ajusta el ancho según tus preferencias */
}

.btn-ingresar {
    width: 150px;
}

.btn-lg {
    padding: 10px 20px;
    font-size: 1.25rem;
}

@media (max-width: 1050px) {

    /* Utilizar flexbox para acomodar el sidebar y el botón del menú al lado del mensaje de bienvenida */
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start; /* Alinear verticalmente hacia arriba */
        justify-content: space-between;
    }

    .bienvenida,
    .sidebar,
    .btn-menu,
    .col-md-4 {
        box-sizing: border-box;
        flex-grow: 1;
    }

    .btn-menu {
        order: 2;
        /* Ajustar el margen izquierdo según sea necesario o dejarlo en 0 para alinearlo a la izquierda */
        margin-top: 30px;
        /* Mueve el botón hacia abajo */


    }

    .col-md-4 {
        margin-left: 30px;
        /* Ajusta el margen izquierdo según sea necesario o dejarlo en 0 para alinearlo a la izquierda */
        width: 100%;
        /* Hace que los cards ocupen el ancho completo del contenedor */

    }
    .bienvenida h2, .bienvenida h3{
        font-size: 18px; /* Pone el tamaño de fuente más pequeño en dispositivos móviles */
        margin-left: 19%;


    }

}